.containerDropdown {
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 1px;
  border-color: gray;
  padding: 10px 5px;
  width: 80px;
  font-size: 14px;
}

.navDropdown {
  position: absolute;
  top: 54px;
  border: solid 1px;
  width: 90px;
  background: white;
}

.navDropdown li {
  cursor: pointer;
  padding: 5px;
}

.navDropdown li:hover {
  background: gray;
}

.dNone {
  display: none;
}
