* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: inherit;
}
